#include "resource.h"

IDC_MAINMENU MENU
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "export result(&E)", IDM_EXPORT
    END

    POPUP "ヘルプ(&H)"
    BEGIN
        MENUITEM "バージョン情報(&A)...",              IDM_ABOUT
    END
END
